* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 2.5em;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #1f1f1f;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}