.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #373737;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0em 1em;
    z-index: 100;
}

.title {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
    gap: 0em;
}

.navLinks {
    display: flex;
    flex:1;
    right: 0;
    margin-left: auto;
}

.link {
    color: #d1d1d1;
    padding: 1em 1.8em;
    text-decoration: none;
}

.link:hover,
.active {
    background-color: #1f1f1f;
}
