.title {
    font-size: 2.5em;
}

.list {
    list-style-type:none;
    display: flex;
    justify-content: center; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.items {
    text-align: center;
    display: block;
    float: left;
    padding: 0em 1em;
    margin: 0.5em;
    color: #9f9f9f;
    border: 1px solid #393939;
    border-radius: 50px;
}

.img {
    margin: 25px;
    padding: 0;
    height: auto; 
    width: 100%;
    max-width: 100%;
    max-width: 800px;
    display: block;
    box-sizing: border-box;
}

.projectContainer {
    margin-top: 5%;
    overflow: hidden;
    justify-content: center;
    background-color: #111111;
    border-radius: 25px;
    box-shadow: 5px 5px 5px#0f0f0f;
}

.detailsAdjustments {
    flex: 1 1 0;
    min-width: 0;
    box-sizing: border-box;
}

.line {
    color: #393939;
}

@media (max-width: 768px) {
    .projectContainer {
        flex-direction: column;
        padding-right: 15px;
    }

    .imageAdjustments {
        padding-top: 10px;
        padding-right: 5%;
    }
    
    .detailsAdjustments {
        padding-right: 6%;
    }

    .img {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }

   .title {
    font-size: 1.8em;
   }

   .items {
    padding: 0em .5em;
    margin: 0.4em;
    font-size: .8em;
   }
}